#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_UPSTREAM_VERSION = $(shell dpkg-parsechangelog -S version | cut -d - -f 1 | cut -d : -f 2)

BUILD_ARGS = prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) sysconfdir=/etc bashcompdir=/usr/share/bash-completion/completions NORPATH=1 BUILD_EXAMPLES=n BUILD_BENCHMARKS=n

%:
	#dh $@ --with bash-completion
	dh $@
	
# !!!!! NOTICE !!!!!
#
# `dh_auto_clean` MUST BE CALLED WITH `NDCTL_ENABLE=n`
#
# It is crucial for build process to run `dh_auto_clean` with NDCTL disabled (NDCTL_ENABLE=n).
#
# `db_auto_clean` calls `make -j72 distclean` which requires NDCTL when NDCTL_ENABLE<>n.
# This dependency (libndctl, libdaxctl) is resolved after `db_auto_clean` step.
#
override_dh_auto_clean:
	dh_auto_clean -- $(BUILD_ARGS) NDCTL_ENABLE=n PMEMOBJ_IGNORE_DIRTY_SHUTDOWN=y PMEMOBJ_IGNORE_BAD_BLOCKS=y
	rm -rf src/test/unittest/__pycache__

override_dh_auto_build:
	+$(MAKE) doc
	dh_auto_build  -- $(BUILD_ARGS)

override_dh_auto_install:
	dh_auto_install -- $(BUILD_ARGS)

override_dh_install:
	mkdir -p debian/tmp/usr/share/pmdk/
	cp utils/pmdk.magic debian/tmp/usr/share/pmdk/
	dh_install

override_dh_installexamples:
	dh_installexamples --exclude=.gitignore

override_dh_installman:
	dh_installman
ifeq (amd64,$(DEB_HOST_ARCH))
	dh_installman -p pmdk-tools
endif

override_dh_missing:
	dh_missing --list-missing --exclude=usr/share/man --exclude=usr/lib/$(DEB_HOST_MULTIARCH)/pmdk_debug/ --exclude=usr/share/bash-completion/completions/pmempool

override_dh_auto_test:
	echo "Check skipped"
