#!/usr/bin/make -f

# Lintian flagged a missing hardening-no-bindnow on
# some libraries.
# IRC discussion about why +bindnow isn't default if it's a
# lintian warning/error:
# https://irclogs.ubuntu.com/2018/05/10/%23ubuntu-devel.html#t14:32
# Let's start with +all (instead of just +bindnow) and if that
# is inappropriate we can switch to +bindnow
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_UPSTREAM_VERSION = $(shell dpkg-parsechangelog -S version | cut -d - -f 1 | cut -d : -f 2)
# We don't need a Build-Depends on systemd because of this
# because it's only used to decide whether the tests should be run or not.
# Any value other than "lxc" will let the tests run.
# Tests do not run in docker either.
VIRT = $(shell if [ -e /.dockerenv ]; then echo "lxc"; fi)
ifeq (,$(VIRT))
VIRT = $(shell systemd-detect-virt 2>/dev/null)
endif
ifeq (,$(VIRT))
VIRT = unknown
endif

%:
	# see https://bugs.launchpad.net/ubuntu/+bug/1752378/comments/28
	# and https://bugs.launchpad.net/ubuntu/+bug/1752378/comments/32
	# The upstream fix at https://github.com/pmem/pmdk/commit/5cbd2be4ae1ae7541da5975c9071fa36b53cd835
	# isn't enough
	echo $(DEB_UPSTREAM_VERSION) > .version
	dh $@ --with bash-completion

override_dh_auto_build:
	dh_auto_build  -- prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) sysconfdir=/etc bashcompdir=/usr/share/bash-completion/completions NORPATH=1 CPP_DOC_DIR=libpmemobj-doc/html

override_dh_auto_install:
	dh_auto_install -- prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) sysconfdir=/etc bashcompdir=/usr/share/bash-completion/completions NORPATH=1 CPP_DOC_DIR=libpmemobj-doc/html
	# lintian useless-autogenerated-doxygen-file
	# find debian/tmp/usr/share/doc/libpmemobj-doc/html/ -type f -name '*.md5' -delete
	# uncompress the manpages right after installation, so that dh_installman
	# and dh_compress won't get confused
	# https://bugs.launchpad.net/ubuntu/+source/debhelper/+bug/1765851
	# Fixed in debhelper 11.3.2ubuntu1, but we want to be able to backport
	# this package.
	find -path './debian/*usr/share/man/man*/*.gz' -exec gunzip {} \;

override_dh_install:
	mkdir -p debian/tmp/usr/share/pmdk/
	cp utils/pmdk.magic debian/tmp/usr/share/pmdk/
	dh_install

override_dh_installexamples:
	dh_installexamples --exclude=.gitignore

override_dh_auto_test:
ifeq ($(VIRT),lxc)
	# these tests do not yet work in a lxd container, see
	# https://bugs.launchpad.net/ubuntu/+bug/1752378/comments/73
	@echo "$(VIRT) environment detected, skipping unit tests"
else
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# build the test configuration file. Tips from:
	# https://bugs.launchpad.net/ubuntu/+bug/1752378/comments/72
	# see src/test/testconfig.sh.example for a fully commented file
	echo "PMEM_FS_DIR=/tmp" > src/test/testconfig.sh
	echo "PMEM_FS_DIR_FORCE_PMEM=1" >> src/test/testconfig.sh
	echo "TEST_BUILD=\"debug nondebug\"" >> src/test/testconfig.sh
	# To display execution time of each test
	echo "TM=1" >> src/test/testconfig.sh
	# dh_auto_test calls make test, which only builds the test suite
	# make check (and pcheck, for parallel check) actually runs it
	# parallel check run not yet working, see
	# https://bugs.launchpad.net/ubuntu/+bug/1752378/comments/75
	dh_auto_test -- SKIP_SYNC_REMOTES=y
	make SKIP_SYNC_REMOTES=y check
endif
endif

override_dh_auto_clean:
	# Remove .version file we created at the start of the build, and test
	# config we created in override_dh_auto_test:
	rm -f .version src/test/testconfig.sh
	# missing cleanup from existing package
	rm -rf src/debug src/nondebug
	find doc/generated -name '*.gz' -delete
	find src -name '*.a' -delete
	find src -name '*.so*' -delete
	rm -f src/examples/libpmem/full_copy \
	      src/examples/libpmem/manpage \
	      src/examples/libpmem/simple_copy \
	      src/examples/libpmemblk/assetdb/asset_checkin \
	      src/examples/libpmemblk/assetdb/asset_checkout \
	      src/examples/libpmemblk/assetdb/asset_list \
	      src/examples/libpmemblk/assetdb/asset_load \
	      src/examples/libpmemblk/manpage \
	      src/examples/libpmemlog/logfile/addlog \
	      src/examples/libpmemlog/logfile/printlog \
	      src/examples/libpmemlog/manpage \
	      src/examples/libpmemobj/array/array \
	      src/examples/libpmemobj/btree \
	      src/examples/libpmemobj/libart/arttree \
	      src/examples/libpmemobj/libart/examine_arttree \
	      src/examples/libpmemobj/linkedlist/fifo \
	      src/examples/libpmemobj/lists \
	      src/examples/libpmemobj/lists \
	      src/examples/libpmemobj/manpage \
	      src/examples/libpmemobj/map/data_store \
	      src/examples/libpmemobj/map/mapcli \
	      src/examples/libpmemobj/pi \
	      src/examples/libpmemobj/pmemblk/obj_pmemblk \
	      src/examples/libpmemobj/pmemlog/obj_pmemlog \
	      src/examples/libpmemobj/pmemlog/obj_pmemlog_macros \
	      src/examples/libpmemobj/pmemlog/obj_pmemlog_minimal \
	      src/examples/libpmemobj/pmemlog/obj_pmemlog_simple \
	      src/examples/libpmemobj/pminvaders/pminvaders \
	      src/examples/libpmemobj/pminvaders/pminvaders2 \
	      src/examples/libpmemobj/queue/queue \
	      src/examples/libpmemobj/setjmp \
	      src/examples/libpmemobj/slab_allocator/main \
	      src/examples/libpmemobj/string_store/reader \
	      src/examples/libpmemobj/string_store/writer \
	      src/examples/libpmemobj/string_store_tx/reader \
	      src/examples/libpmemobj/string_store_tx/writer \
	      src/examples/libpmemobj/string_store_tx_type/reader \
	      src/examples/libpmemobj/string_store_tx_type/writer \
	      src/examples/libpmempool/manpage \
	      src/examples/librpmem/basic \
	      src/examples/librpmem/manpage \
	      src/examples/libvmem/libart/arttree \
	      src/examples/libvmem/manpage \
	      src/jemalloc/configure
	find src -name '*.static-*debug' -delete
	rm -f src/test/arch_flags/arch_flags \
	      src/test/blk_include/blk_include \
	      src/test/blk_nblock/blk_nblock \
	      src/test/blk_non_zero/blk_non_zero \
	      src/test/blk_pool/blk_pool \
	      src/test/blk_pool_lock/blk_pool_lock \
	      src/test/blk_recovery/blk_recovery \
	      src/test/blk_recovery/blk_recovery.static-nondebug \
	      src/test/blk_rw/blk_rw \
	      src/test/blk_rw_mt/blk_rw_mt \
	      src/test/checksum/checksum \
	      src/test/compat_incompat_features/pool_open \
	      src/test/ctl_prefault/ctl_prefault \
	      src/test/ex_linkedlist/ex_linkedlist \
	      src/test/libpmempool_api/libpmempool_test \
	      src/test/libpmempool_feature/libpmempool_feature \
	      src/test/libpmempool_include/libpmempool_include \
	      src/test/libpmempool_rm/libpmempool_rm \
	      src/test/libpmempool_sync/libpmempool_sync \
	      src/test/libpmempool_transform/libpmempool_transform \
	      src/test/log_basic/log_basic \
	      src/test/log_include/log_include \
	      src/test/log_pool/log_pool \
	      src/test/log_pool_lock/log_pool_lock \
	      src/test/log_recovery/log_recovery \
	      src/test/log_walker/log_walker
	rm -f src/test/obj_action/obj_action \
	      src/test/obj_basic_integration/obj_basic_integration \
	      src/test/obj_bucket/obj_bucket \
	      src/test/obj_check/obj_check  \
	      src/test/obj_constructor/obj_constructor \
	      src/test/obj_ctl_alignment/obj_ctl_alignment \
	      src/test/obj_ctl_alloc_class/obj_ctl_alloc_class \
	      src/test/obj_ctl_alloc_class_config/obj_ctl_alloc_class_config \
	      src/test/obj_ctl_config/obj_ctl_config \
	      src/test/obj_ctl_debug/obj_ctl_debug \
	      src/test/obj_ctl_heap_size/obj_ctl_heap_size \
	      src/test/obj_ctl_stats/obj_ctl_stats \
	      src/test/obj_cuckoo/obj_cuckoo \
	      src/test/obj_debug/obj_debug \
	      src/test/obj_direct/obj_direct \
	      src/test/obj_direct_volatile/obj_direct_volatile \
	      src/test/obj_extend/obj_extend \
	      src/test/obj_first_next/obj_first_next \
	      src/test/obj_fragmentation/obj_fragmentation \
	      src/test/obj_fragmentation2/obj_fragmentation2 \
	      src/test/obj_heap/obj_heap \
	      src/test/obj_heap_interrupt/obj_heap_interrupt \
	      src/test/obj_heap_state/obj_heap_state \
	      src/test/obj_include/obj_include \
	      src/test/obj_lane/obj_lane \
	      src/test/obj_layout/obj_layout \
	      src/test/obj_list/obj_list \
	      src/test/obj_list_macro/obj_list_macro \
	      src/test/obj_locks/obj_locks \
	      src/test/obj_many_size_allocs/obj_many_size_allocs \
	      src/test/obj_mem/obj_mem \
	      src/test/obj_memblock/obj_memblock \
	      src/test/obj_memcheck/obj_memcheck \
	      src/test/obj_memcheck_register/obj_memcheck_register \
	      src/test/obj_memops/obj_memops \
	      src/test/obj_oid_thread/obj_oid_thread \
	      src/test/obj_out_of_memory/obj_out_of_memory \
	      src/test/obj_persist_count/obj_persist_count \
	      src/test/obj_pmalloc_basic/obj_pmalloc_basic \
	      src/test/obj_pmalloc_mt/obj_pmalloc_mt \
	      src/test/obj_pmalloc_oom_mt/obj_pmalloc_oom_mt \
	      src/test/obj_pmalloc_rand_mt/obj_pmalloc_rand_mt \
	      src/test/obj_pmemcheck/obj_pmemcheck \
	      src/test/obj_pool/obj_pool \
	      src/test/obj_pool_lock/obj_pool_lock \
	      src/test/obj_pool_lookup/obj_pool_lookup \
	      src/test/obj_ravl/obj_ravl \
	      src/test/obj_realloc/obj_realloc \
	      src/test/obj_recovery/obj_recovery \
	      src/test/obj_recreate/obj_recreate \
	      src/test/obj_reorder_basic/obj_reorder_basic \
	      src/test/obj_root/obj_root \
	      src/test/obj_sds/obj_sds \
	      src/test/obj_strdup/obj_strdup \
	      src/test/obj_sync/obj_sync \
	      src/test/obj_toid/obj_toid \
	      src/test/obj_tx_add_range/obj_tx_add_range \
	      src/test/obj_tx_add_range_direct/obj_tx_add_range_direct \
	      src/test/obj_tx_alloc/obj_tx_alloc \
	      src/test/obj_tx_callbacks/obj_tx_callbacks \
	      src/test/obj_tx_flow/obj_tx_flow \
	      src/test/obj_tx_free/obj_tx_free \
	      src/test/obj_tx_invalid/obj_tx_invalid \
	      src/test/obj_tx_lock/obj_tx_lock \
	      src/test/obj_tx_locks/obj_tx_locks \
	      src/test/obj_tx_locks_abort/obj_tx_locks_abort \
	      src/test/obj_tx_mt/obj_tx_mt \
	      src/test/obj_tx_realloc/obj_tx_realloc \
	      src/test/obj_tx_strdup/obj_tx_strdup \
	      src/test/obj_zones/obj_zones \
	      src/test/out_err/out_err \
	      src/test/out_err_mt/out_err_mt
	rm -f src/test/pmem_deep_persist/pmem_deep_persist \
	      src/test/pmem_has_auto_flush/pmem_has_auto_flush \
	      src/test/pmem_include/pmem_include \
	      src/test/pmem_is_pmem/pmem_is_pmem \
	      src/test/pmem_is_pmem_posix/pmem_is_pmem_posix \
	      src/test/pmem_map_file/pmem_map_file \
	      src/test/pmem_memcpy/pmem_memcpy \
	      src/test/pmem_memmove/pmem_memmove \
	      src/test/pmem_memset/pmem_memset \
	      src/test/pmem_movnt/pmem_movnt \
	      src/test/pmem_movnt_align/pmem_movnt_align \
	      src/test/pmem_unmap/pmem_unmap \
	      src/test/pmem_valgr_simple/pmem_valgr_simple \
	      src/test/pmreorder_simple/pmreorder_simple \
	      src/test/pmreorder_stack/pmreorder_stack \
	      src/test/remote_basic/remote_basic \
	      src/test/remote_obj_basic/remote_obj_basic \
	      src/test/rpmem_addr/rpmem_addr \
	      src/test/rpmem_addr_ext/rpmem_addr_ext \
	      src/test/rpmem_basic/rpmem_basic \
	      src/test/rpmem_fip/rpmem_fip \
	      src/test/rpmem_obc/rpmem_obc \
	      src/test/rpmem_obc_int/rpmem_obc_int \
	      src/test/rpmem_proto/rpmem_proto \
	      src/test/rpmemd_config/rpmemd_config \
	      src/test/rpmemd_db/rpmemd_db \
	      src/test/rpmemd_dbg/rpmemd_dbg \
	      src/test/rpmemd_log/rpmemd_log \
	      src/test/rpmemd_obc/rpmemd_obc \
	      src/test/rpmemd_util/rpmemd_util \
	      src/test/set_funcs/set_funcs
	rm -f src/test/tools/bttcreate/bttcreate \
	      src/test/tools/cmpmap/cmpmap \
	      src/test/tools/ctrld/ctrld \
	      src/test/tools/ddmap/ddmap \
	      src/test/tools/extents/extents \
	      src/test/tools/fallocate_detect/fallocate_detect \
	      src/test/tools/fip/fip \
	      src/test/tools/obj_verify/obj_verify \
	      src/test/tools/pmemalloc/pmemalloc \
	      src/test/tools/pmemdetect/pmemdetect \
	      src/test/tools/pmemobjcli/pmemobjcli \
	      src/test/tools/pmemspoil/pmemspoil \
	      src/test/tools/pmemwrite/pmemwrite \
	      src/tools/pmreorder/pmreorder \
	      src/test/tools/usc_permission_check/usc_permission_check \
	      src/test/traces/traces \
	      src/test/traces_custom_function/traces_custom_function \
	      src/test/traces_pmem/traces_pmem \
	      src/test/util_badblock/util_badblock \
	      src/test/util_cpuid/util_cpuid \
	      src/test/util_ctl/util_ctl \
	      src/test/util_extent/util_extent \
	      src/test/util_file_create/util_file_create \
	      src/test/util_file_open/util_file_open \
	      src/test/util_is_absolute/util_is_absolute \
	      src/test/util_is_poolset/util_is_poolset \
	      src/test/util_is_zeroed/util_is_zeroed \
	      src/test/util_map_proc/util_map_proc \
	      src/test/util_parse_size/util_parse_size \
	      src/test/util_pool_hdr/util_pool_hdr \
	      src/test/util_poolset/util_poolset \
	      src/test/util_poolset_foreach/util_poolset_foreach \
	      src/test/util_poolset_parse/util_poolset_parse \
	      src/test/util_poolset_size/util_poolset_size \
	      src/test/util_sds/util_sds \
	      src/test/util_uuid_generate/util_uuid_generate \
	      src/test/util_vec/util_vec \
	      src/test/util_vecq/util_vecq
	rm -f src/test/vmem_aligned_alloc/vmem_aligned_alloc \
	      src/test/vmem_calloc/vmem_calloc \
	      src/test/vmem_check/vmem_check \
	      src/test/vmem_check_allocations/vmem_check_allocations \
	      src/test/vmem_check_version/vmem_check_version \
	      src/test/vmem_create/vmem_create \
	      src/test/vmem_create_error/vmem_create_error \
	      src/test/vmem_create_in_region/vmem_create_in_region \
	      src/test/vmem_custom_alloc/vmem_custom_alloc \
	      src/test/vmem_delete/vmem_delete \
	      src/test/vmem_malloc/vmem_malloc \
	      src/test/vmem_malloc_usable_size/vmem_malloc_usable_size \
	      src/test/vmem_mix_allocations/vmem_mix_allocations \
	      src/test/vmem_multiple_pools/vmem_multiple_pools \
	      src/test/vmem_out_of_memory/vmem_out_of_memory \
	      src/test/vmem_pages_purging/vmem_pages_purging \
	      src/test/vmem_realloc/vmem_realloc \
	      src/test/vmem_realloc_inplace/vmem_realloc_inplace \
	      src/test/vmem_stats/vmem_stats \
	      src/test/vmem_strdup/vmem_strdup \
	      src/test/vmem_valgrind/vmem_valgrind \
	      src/test/vmem_valgrind_region/vmem_valgrind_region \
	      src/test/vmmalloc_calloc/vmmalloc_calloc \
	      src/test/vmmalloc_check_allocations/vmmalloc_check_allocations \
	      src/test/vmmalloc_fork/vmmalloc_fork \
	      src/test/vmmalloc_init/vmmalloc_init \
	      src/test/vmmalloc_malloc/vmmalloc_malloc \
	      src/test/vmmalloc_malloc_hooks/vmmalloc_malloc_hooks \
	     src/test/vmmalloc_malloc_usable_size/vmmalloc_malloc_usable_size \
	      src/test/vmmalloc_memalign/vmmalloc_memalign \
	      src/test/vmmalloc_out_of_memory/vmmalloc_out_of_memory \
	      src/test/vmmalloc_realloc/vmmalloc_realloc \
	      src/test/vmmalloc_valgrind/vmmalloc_valgrind \
	      src/test/vmmalloc_valloc/vmmalloc_valloc \
	      src/tools/daxio/daxio \
	      src/tools/pmempool/pmempool \
	      src/tools/rpmemd/rpmemd
	dh_auto_clean
